
body,html{
    padding:0;
    margin:0;
}
body {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

#canvas-container:before {
    padding-top: calc( 100% * 9 / 16 );
    /*padding-top: calc( 100% * 3 / 4 );*/
}
